{% extends 'base2.html' %}
{% block title %}Searched- {{keyword.upper}} {% endblock title %}
{% block style %}
li a{
    text-decoration: none;
    color: black;
}
.more_adr{
    float: right;
}
.Correct-Answer{
display: none;
}
.btn-small{
--bs-btn-padding-y: .25rem;
--bs-btn-padding-x: .5rem;
--bs-btn-font-size: .75rem;
}
ul label{
font-size: 115%;
}
{% endblock style %}
{% block body %}
<div class="container-fluid mt-2">
    <div class="row g-3">

    <div class="col">        
        <h4>{{keyword.upper}} Related-> MCQ Questions</h4>
        {% if questions %}
        {% for question in questions %}
        <div class="px-3">
            <hr>
            <ul>
            <label for="">{{question}}</label>
            {% for option in question.question_option.all %}
            <li>{{option}}</li>
            {% endfor %}
            </ul>
            <button id="ansbtn{{question.id}}" onclick="myFunction(this.id)" class="btn btn-info btn-small px-3">Correct Answer</button>
            <div id="ansdiv{{question.id}}" class="Correct-Answer">
            <label>
                Correct Answer: {% for option in question.question_option.all %}
                {% if option.is_correct %}<strong>{{option}}</strong>{% endif %}
                {% endfor %}
            </label>
            </div>
        </div>
        {% endfor %}
        
        {% else %}
        <strong>None</strong>
        {% endif %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              {% if questions.has_previous  %}
              <li class="page-item"><a class="page-link" href="?page={{questions.previous_page_number}}">Previous</a></li>
              {% endif %}
              <li class="page-item disabled"><a class="page-link">{{questions.number}}</a></li>
              <li class="page-item disabled"><a class="page-link">of</a></li>
              <li class="page-item disabled"><a class="page-link">{{questions.paginator.num_pages}}</a></li>
              {% if questions.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{questions.next_page_number}}">Next</a></li>
              {% endif %}
            </ul>
          </nav>
    </div>

    <div class="col-3 topics">
        <div class="h-50">
        <h4>{{keyword.upper}} Topic</h4>
        {% if mcq_topics %}
        <ul class="list-group">
            {% for mcq_topic in mcq_topics %}
            <li class="list-group-item"><a class="topic_wise" href="{% url 'topicmcq' mcq_topic.id %}">{{mcq_topic}}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <strong>None</strong>
        {% endif %}
        </div>
        
    </div>
    </div>
</div>

<script type="text/javascript">
    function myFunction(clicked){
      y=clicked.slice(6,);
      var x=document.getElementById("ansdiv"+y);
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>
{% endblock body %}
